[submodule "external/tfa"]
	path = external/tfa
	url = https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git
[submodule "external/optee"]
	path = external/optee
	url = https://github.com/OP-TEE/optee_os
[submodule "external/uboot"]
	path = external/uboot
	url = https://source.denx.de/u-boot/u-boot
[submodule "external/barebox"]
	path = external/barebox
	url = https://github.com/smalinux/barebox
